<?xml version="1.0"?>
<configuration>
  <location path="EventCreate.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admins" />
        <allow roles="Contributors" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="EventUpdate.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admins" />
        <allow roles="Contributors" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>

