<?xml version="1.0"?>
<configuration>
  <location path="PageSettings.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="System Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
