#body
{
    display: inline-block;
    width: 100%;
    background-color: #f1f4f9;
}


/*------------Start Temp Styles--------------*/
.warning-pattern
{
    background-image: url("../Images/warning-pattern-30x30.png");
    /*background-repeat: repeat-x;*/
    min-height: 20px;
}

.temp-background
{
    /*background-image: url(http://fc07.deviantart.net/fs70/f/2013/245/8/6/despicable_me_gif___minion_faceslam_by_c0l0ss4l_st1nk3r-d6km3k9.gif);*/
    /*height: 550px;*/
    text-align: center;
}

    .temp-background h1
    {
        color: #000;
        margin: auto;
        /*position: relative;*/
        /*top: 10%;*/
        /*text-shadow: 2px 2px 4px #000000;*/
        z-index: 999;
    }
/*------------End Temp Styles--------------*/




h1, h2, h3, h4, h5, h6
{
    margin: 7px 0 5px 0;
}

a
{
}

    a:hover
    {
        color: #007399;
    }

table
{
    margin-top: 0;
}

input[type="checkbox"]
{
    width: 16px;
    height: 16px;
    margin: 5px;
}

input[type="image"]
{
    border: none;
    background: none;
}

select
{
    margin: 5px 0 5px 0;
}


/*-------Start Header Styles-------*/
#login a
{
    color: #ffffff;
    background-color: #007399;
    margin-left: 10px;
    margin-right: 3px;
    padding: 3px 3px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: #ffffff 0px 0px 5px;
    -moz-box-shadow: #ffffff 0px 0px 5px;
    box-shadow: #ffffff 0px 0px 5px;
}

    #login a:hover
    {
        background-color: #00aacc;
    }

ul#menu li a
{
    color: #ffffff;
}
/*-------End Header Styles-------*/



/*-------Start TaxonomyHandler Styles-------*/

.tab-btn-holder
{
    /*border: 1px #000000 solid;*/
}

    .tab-btn-holder .tab-btn
    {
        margin: 0 auto;
        padding: 5px;
        display: inline-block;
        vertical-align: bottom;
        border: 1px solid #787878;
        border-radius: 0px;
        -webkit-border-top-left-radius: 7px;
        -webkit-border-top-right-radius: 7px;
        -moz-border-radius-topleft: 7px;
        -moz-border-radius-topright: 7px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        background-color: #d3dce0;
        font-weight: normal;
    }

    .tab-btn-holder .active
    {
        color: #000000;
        background-color: #3498db;
    }

.tab-content
{
    margin-top: -1px;
    padding: 20px;
    border: 1px solid rgba(0,0,0, 0.5);
    border-radius: 0px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*-------End TaxonomyHandler Styles-------*/



/*-------Start LeftSideNavigation Styles-------*/
#Site-navigation-container
{
    position: absolute;
    /* display: inline-block; */
    /* vertical-align: top; */
    /*margin-right: 20px;*/
    z-index: 9999;
}

#Site-navigation
{
    margin-top: 10px;
    margin-right: -5px;
    /*padding: 0px 10px 0px 5px;*/
    display: inline-block;
    background-color: white;
    text-align: center;
    box-shadow: 2px 2px 6px rgba(0,0,0, 0.5);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0, 0.5);
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: 9999;
}

    #Site-navigation hr
    {
        margin: 2px;
    }

    #Site-navigation td
    {
        padding: 0px;
    }


    #Site-navigation a
    {
        color: #333;
        /* padding-left: 3px; */
        /* padding-right: 3px; */
        text-decoration: none;
        padding: 3px;
        display: block;
    }

        #Site-navigation a:hover
        {
            background-color: #217ebb; /*#354b60*/
            color: #ffffff;
            box-shadow: 2px 3px 10px rgba(0,0,0, 0.5);
            -moz-box-shadow: 2px 3px 10px rgba(0,0,0, 0.5);
            -webkit-box-shadow: 2px 3px 10px rgba(0,0,0, 0.5);
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            /*padding: 3px;*/
        }

    #Site-navigation ul
    {
        padding: 0 5px 0 5px;
        display: inline-block;
    }

    #Site-navigation li
    {
        display: block;
    }

    #Site-navigation .text-align-left
    {
        text-align: left;
        padding-left: 10px;
    }

    #Site-navigation nav
    {
        margin: 5px;
    }
    
.current-link
{
    background-color: #95A5A6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0px;
}

/*.selectedNodesNav
{
    border: 1px cyan solid;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0px;
}*/

#toggle-nav-icon
{
    margin: 5px;
}

#toggle-nav-btn
{
    cursor: pointer;
    z-index: 9999;
}

.nav-title
{
    display: inline-block;
    vertical-align: top;
    /*padding: 5px;*/
    background-color: #fff;
    margin: 5px 0 5px 0;
    width: 42px;
    height: 42px;
}

.rotate
{
    /* Safari 3.1 to 6.0 */
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
    /* Firefox */
    -moz-transition-property: -moz-transform;
    -moz-duration: 0.3s;
    -moz-timing-funtion: linear;
    -moz-transform: rotate(-180deg);
    /* IE */
    -ms-transition-property: -ms-transform;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: linear;
    -ms-transform: rotate(-180deg); /* IE 9 */
    /* Opera */
    -o-transition-property: -o-transform;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: linear;
    -o-transform: rotate(-180deg);
    /* Standard syntax */
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transform: rotate(-180deg);
}

.rotate-reset
{
    /* Safari 3.1 to 6.0 */
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    /* Firefox */
    -moz-transition-property: -moz-transform;
    -moz-duration: 0.3s;
    -moz-timing-funtion: linear;
    -moz-transform: rotate(0deg);
    /* IE */
    -ms-transition-property: -ms-transform;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: linear;
    -ms-transform: rotate(0deg); /* IE 9 */
    /* Opera */
    -o-transition-property: -o-transform;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: linear;
    -o-transform: rotate(0deg);
    /* Standard syntax */
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transform: rotate(0deg);
}

.collapsed
{
    visibility: collapse;
    width: 0px;
    height: 0px;
}


/*-------End LeftSideNavigation Styles-------*/


/*-------Start MainContent Styles-------*/
.titlebox
{
    /*width: 250px;
    background: #424242;*/
    padding: 10px 5px 5px 5px;
    margin: 10px;
    color: #fff;
    font-size: 90%;
}

    .titlebox h1
    {
        display: inline-block;
        position: relative;
        left: -50px;
        -webkit-box-shadow: 3px 3px 5px rgba(33,126,187,0.6);
        -moz-box-shadow: 3px 3px 5px rgba(33,126,187,0.6);
        box-shadow: 3px 3px 5px rgba(33,126,187,0.6);
    }


    .titlebox h1
    {
        background: #217ebb; /*old - #3198dd*/
        width: auto;
        min-width: 300px;
        color: #fff;
        padding: 5px 20px;
        margin: 0;
        font-size: 160%;
        text-align: center;
        font-weight: bold;
        text-shadow: 2px 2px 4px #000000;
    }

    .titlebox .ribbon-title-big
    {
        font-size: 35px;
    }

    .titlebox .ribbon-title-small
    {
        font-size: 20px;
    }

.content-box
{
    display: block;
    /*vertical-align: top;*/
    margin-top: 25px;
    width: auto;
    height: 100%;
    padding: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.55);
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#cecece));
    background-image: -moz-linear-gradient(top,#E0E0E0,#cecece);*/
    background-color: #ffffff;
    /*float: right;*/
}

    .content-box .btn-blue
    {
        -moz-box-shadow: 0px 0px 1px 0px #000000;
        -webkit-box-shadow: 0px 0px 1px 0px #000000;
        box-shadow: 0px 0px 1px 0px #000000;
        background-color: #3498db;
        /*-webkit-border-top-left-radius: 6px;
-moz-border-radius-topleft: 6px;
border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topright: 6px;
border-top-right-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
-moz-border-radius-bottomright: 6px;
border-bottom-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-bottomleft: 6px;
border-bottom-left-radius: 6px;*/
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        text-indent: 0px;
        border: 1px solid #4c4c4d;
        display: inline-block;
        color: #050505;
        font-family: Arial;
        /* font-size: 15px; */
        font-weight: bold;
        font-style: normal;
        /* height: 35px; */
        line-height: 35px;
        /* width: 100px; */
        text-decoration: none;
        text-align: center;
        padding: 1px 10px 1px 10px;
        margin-right: 8px;
        width: auto;
    }

        .content-box .btn-blue:hover
        {
            background-color: #75a3ff;
        }

        .content-box .btn-blue:active
        {
            position: relative;
            top: 2px;
            left: 2px;
        }

#btn-small 
{
        border: 1px solid #4c4c4d;
        display: inline-block;
        color: red;
        /*color: #050505;*/
        font-family: Arial;
        font-size: 10px; 
        font-weight: bold;
        font-style: normal;
        height: 35px; 
        line-height: 35px;
        width: 100px;
        text-decoration: none;
        text-align: center;
        padding: 1px 5px 1px 5px;
        margin-right: 8px;
        width: auto;
}
        

.inner-content-box
{
    margin: 10px 0 10px 0;
    padding: 15px;
    border: 1px #9B9B9B;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.55);
    background-color: rgba(183,197,211,0.1);
}

    .inner-content-box h2
    {
        background-color: orange;
        text-align: center;
        padding: 3px;
    }

    .inner-content-box td
    {
        padding: 3px;
    }

    .inner-content-box input[type="image"]
    {
        border: none;
        vertical-align: middle;
    }

.btn-align-right
{
    text-align: right;
}

.bold-txt
{
    font-weight: bold;
}

/*-------End MainContent Styles-------*/


/*-------Start Community/AssociationHandeler Styles-------*/
.view-select-community,
.view-community-details,
.view-community-details-association,
.view-association-details,
.view-association-create
{
    border: #000000 solid 1px;
    padding: 15px;
    border-radius: 0px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}





.transform-all-05s
{
    /* Safari 3.1 to 6.0 */
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    /* Firefox */
    -moz-transition-property: all;
    -moz-duration: 0.5s;
    -moz-timing-funtion: linear;
    /* IE */
    -ms-transition-property: all;
    -ms-transition-duration: 0.5s;
    -ms-transition-timing-function: linear;
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: linear;
    /* Standard syntax */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 950px)
{
    input, textarea
    {
        width: auto;
        /*min-width: 200px;*/
    }

    .tab-btn-holder .tab-btn
    {
        width: 100%;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }


    #Site-navigation-container
    {
        position: inherit;
        display: block; /*old - none*/
        margin: 0 auto;
        -webkit-border-top-right-radius: 0px;
        -webkit-border-bottom-right-radius: 7px;
        -webkit-border-bottom-left-radius: 7px;
        -moz-border-radius-topright: 0px;
        -moz-border-radius-bottomright: 7px;
        -moz-border-radius-bottomleft: 7px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    /*Fix this vvv (^^)*/
    /*.content-box
    {
        display: block;
    }
        */

    #body
    {
        display: block;
    }
}
/* END: Mobile Styles */
