#body
{
    display: flex;
}

a
{
}

.tab-btn-holder
{
    /*border: 1px #000000 solid;*/
}

    .tab-btn-holder .tab-btn
    {
        margin: 0 auto;
        padding: 5px;
        display: inline-block;
        vertical-align: bottom;
        border: 1px solid #787878;
        border-radius: 0px;
        -webkit-border-top-left-radius: 7px;
        -webkit-border-top-right-radius: 7px;
        -moz-border-radius-topleft: 7px;
        -moz-border-radius-topright: 7px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        background-color: #d3dce0;
        font-weight: normal;
    }

.active
{
    color: #000000;
}

.tab-content
{
    margin-top: -1px;
    padding: 20px;
    border: 1px solid rgba(0,0,0, 0.5);
    border-radius: 0px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#Site-navigation-container {
    display: table;
    margin-right: 20px;
}

#Site-navigation
{
   margin-top: 10px;
margin-right: 0px;
/*padding: 0px 10px 0px 5px;*/
display: inline-block;
background-color: white;
text-align: center;
box-shadow: 2px 3px 10px rgba(0,0,0, 0.5);
-moz-box-shadow: 2px 3px 10px rgba(0,0,0, 0.5);
-webkit-box-shadow: 2px 3px 10px rgba(0,0,0, 0.5);

-webkit-border-bottom-right-radius: 7px;

-moz-border-radius-bottomright: 7px;

border-bottom-right-radius: 7px;
z-index: 9999;
}

    #Site-navigation hr
    {
        margin: 2px;
    }

    #Site-navigation td
    {
        padding: 0px;
    }


    #Site-navigation a
    {
        color: #333;
        /* padding-left: 3px; */
        /* padding-right: 3px; */
        text-decoration: none;
        padding: 3px;
        display: block;
    }

        #Site-navigation a:hover
        {
            background-color: #217ebb; /*#354b60*/
            color: #ffffff;
            box-shadow: 2px 3px 10px rgba(0,0,0, 0.5);
            -moz-box-shadow: 2px 3px 10px rgba(0,0,0, 0.5);
            -webkit-box-shadow: 2px 3px 10px rgba(0,0,0, 0.5);
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            /*padding: 3px;*/
        }

    #Site-navigation ul
    {
        padding-left: 5px;
        display: inline-block;
    }

    #Site-navigation li
    {
        display: block;
    }

    #Site-navigation .text-align-left
    {
        text-align: left;
        padding-left: 10px;
    }

    #Site-navigation nav
    {
        display: inline-block;
        margin: 5px;
    }



.current-link
{
    background-color: #95A5A6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0px;
}



.selectedNodesNav
{
    /*border: 1px cyan solid;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0px;
}

#toggle-nav-btn
{
    cursor: pointer;
    z-index: 9999;
}

.nav-title
{
    display: inline-block;
vertical-align: top;
padding: 5px;
background-color: #fff;
margin-top: 10px;
font-size: 20px;
text-shadow: 1px 1px lightgrey;
box-shadow: 2px 3px 10px rgba(0,0,0, 0.5);
-moz-box-shadow: 2px 3px 10px rgba(0,0,0, 0.5);
-webkit-box-shadow: 2px 3px 10px rgba(0,0,0, 0.5);
-webkit-border-top-right-radius: 7px;
-webkit-border-bottom-right-radius: 7px;
-moz-border-radius-topright: 7px;
-moz-border-radius-bottomright: 7px;
border-top-right-radius: 7px;
border-bottom-right-radius: 7px;
}

.rotate-180
{
    /* Safari 3.1 to 6.0 */
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    /* Firefox */
    -moz-transition-property: -moz-transform;
    -moz-duration: 0.5s;
    -moz-timing-funtion: linear;
    -moz-transform: rotate(180deg);
    /* IE */
    -ms-transition-property: -ms-transform;
    -ms-transition-duration: 0.5s;
    -ms-transition-timing-function: linear;
    -ms-transform: rotate(180deg); /* IE 9 */
    /* Opera */
    -o-transition-property: -o-transform;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: linear;
    -o-transform: rotate(180deg);
    /* Standard syntax */
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transform: rotate(180deg);
}

.rotate-m180
{
    /* Safari 3.1 to 6.0 */
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    /* Firefox */
    -moz-transition-property: -moz-transform;
    -moz-duration: 0.5s;
    -moz-timing-funtion: linear;
    -moz-transform: rotate(0deg);
    /* IE */
    -ms-transition-property: -ms-transform;
    -ms-transition-duration: 0.5s;
    -ms-transition-timing-function: linear;
    -ms-transform: rotate(0deg); /* IE 9 */
    /* Opera */
    -o-transition-property: -o-transform;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: linear;
    -o-transform: rotate(0deg);
    /* Standard syntax */
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transform: rotate(0deg);
}

.collapsed
{
    visibility: collapse;
    width: 0px;
    height: 0px;
}


.arrow-up
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12.5px 15px 12.5px;
    border-color: transparent transparent #007bff transparent;
}

.arrow-up-left
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #007bff transparent transparent transparent;
}

.arrow-down
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 12.5px 0 12.5px;
    border-color: #007bff transparent transparent transparent;
}

.arrow-down-right
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent #007bff transparent;
}

.arrow-left
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 15px 12.5px 0;
    border-color: transparent #007bff transparent transparent;
}

.arrow-right
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 0 12.5px 15px;
    border-color: transparent transparent transparent #007bff;
}


.titlebox
{
    /*width: 250px;
    background: #424242;*/
    padding: 10px 5px 5px 5px;
    margin: 10px;
    color: #fff;
    font-size: 90%;
}

    .titlebox h1
    {
        position: relative;
        left: -50px;
        -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
        -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
        box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    }


    .titlebox h1
    {
        background: #217ebb; /*old - #3198dd*/
        width: 300px;
        color: #fff;
        padding: 10px 5px;
        margin: 0;
        font-size: 160%;
        text-align: center;
        font-weight: bold;
        text-shadow: 2px 2px 4px #000000;
    }

.content-box
{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 25px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 25px rgba(0,0,0,0.55);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#cecece));
    background-image: -moz-linear-gradient(top,#E0E0E0,#cecece);
    background-color: #E0E0E0;
    /*float: right;*/
}

.inner-content-box
{
    margin: 10px 0 10px 0;
    padding: 15px;
    border: 1px #9B9B9B;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    background-color: #ffffff;
}

    .inner-content-box h2
    {
        background-color: orange;
        text-align: center;
        padding: 3px;
    }

    .inner-content-box td
    {
        padding: 0;
    }

    .inner-content-box input[type="image"]
    {
        border: none;
        vertical-align: middle;
    }

    .view-select-community,
    .view-community-details, 
    .view-community-details-association,
    .view-association-details,
    .view-association-create
    {
        border:#000000 solid 1px;
        padding: 15px;  
        border-radius: 0px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
 
.warning-pattern
{
    background-image: url("../Images/warning-pattern-30x30.png");
    background-repeat: repeat-x;
    text-align: center;
    min-height: 30px;
}

.btn-align-right
{
    text-align: right;
}

.bold-txt
{
    font-weight: bold;
}


.transform-all-05s
{
    /* Safari 3.1 to 6.0 */
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    /* Firefox */
    -moz-transition-property: all;
    -moz-duration: 0.5s;
    -moz-timing-funtion: linear;
    /* IE */
    -ms-transition-property: all;
    -ms-transition-duration: 0.5s;
    -ms-transition-timing-function: linear;
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: linear;
    /* Standard syntax */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 950px)
{
    input, textarea
    {
        width: auto !important;
        /*min-width: 200px;*/
    }



    #Site-navigation-container
    {
        display: block; /*old - none*/
        margin: 0 auto;
        -webkit-border-top-right-radius: 0px;
        -webkit-border-bottom-right-radius: 7px;
        -webkit-border-bottom-left-radius: 7px;
        -moz-border-radius-topright: 0px;
        -moz-border-radius-bottomright: 7px;
        -moz-border-radius-bottomleft: 7px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    /*Fix this vvv (^^)*/
    /*.content-box
    {
        display: block;
    }
        */

    #body
    {
        display: block;
    }
}
/* END: Mobile Styles */
